<ion-header>
    <ion-toolbar color="primary" style="--color:white">
        <ion-buttons slot="start">
            <ion-button (click)="goBack()">
              <ion-icon name="md-arrow-round-back" ></ion-icon> 
            </ion-button>
          </ion-buttons>
      <ion-title style="font-family:'Caviar Dreams Bold'; text-align: center">  
          <img *ngIf="this.selectedLanguage.abreviacion=='ar'" src="../../../assets/imgs/idiomas/espana.png" class="iconIdioma">
          <img *ngIf="this.selectedLanguage.abreviacion=='en'" src="../../../assets/imgs/idiomas/reino-unido.png" class="iconIdioma">
          <img *ngIf="this.selectedLanguage.abreviacion=='por'" src="../../../assets/imgs/idiomas/portugal.png" class="iconIdioma">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content style="--background:lightblue">
    <ion-fab horizontal="start" vertical="top" slot="fixed" >
        <ion-fab-button color="primary">
          <img src="../../../assets/icon/traduccion.png">
        </ion-fab-button>
        <ion-fab-list >
          <ion-fab-button color="light" (click)="flagClick('ar')">
            <img src="../../../assets/imgs/idiomas/espana.png">
          </ion-fab-button>
          <ion-fab-button color="light" (click)="flagClick('por')">
            <img src="../../../assets/imgs/idiomas/portugal.png">
          </ion-fab-button>
          <ion-fab-button color="light" (click)="flagClick('en')">
            <img src="../../../assets/imgs/idiomas/reino-unido.png">
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
      <div class="height-100 allScreen">
          <ion-button shape="round" expand="full" class="botonesCategorias" style="--background:#9e9e9e" 
          (click)="itemSoundClick('assets/sonidos/numeros/uno')">
              <img src="../../../assets/imgs/numeros/uno.png" class="imagenBtns"/>
              </ion-button>
            <ion-button shape="round" expand="full" class="botonesCategorias" style="--background:#e57373" 
            (click)="itemSoundClick('assets/sonidos/numeros/dos')">
              <img src="../../../assets/imgs/numeros/dos.png" class="imagenBtns"/>
            </ion-button>
            <ion-button shape="round" expand="full" class="botonesCategorias" style="--background:#81c784" 
            (click)="itemSoundClick('assets/sonidos/numeros/tres')">
              <img src="../../../assets/imgs/numeros/tres.png" class="imagenBtns"/>
            </ion-button>
            <ion-button shape="round" expand="full" class="botonesCategorias" style="--background:#ffb74d" 
            (click)="itemSoundClick('assets/sonidos/numeros/cuatro')">
              <img src="../../../assets/imgs/numeros/cuatro.png" class="imagenBtns"/>
            </ion-button>
            <ion-button shape="round" expand="full" class="botonesCategorias" style="--background:#607d8b" 
            (click)="itemSoundClick('assets/sonidos/numeros/cinco')">
              <img src="../../../assets/imgs/numeros/cinco.png" class="imagenBtns"/>
            </ion-button>
      </div>
  
  </ion-content>
  