#custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #002a3e;
  }
  
  .flb {
    //background-color: #3ebffb;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;  
    
    background: rgba(251,192,45,1);
    background: -moz-linear-gradient(top, rgba(251,192,45,1) 0%, rgba(97,72,14,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,192,45,1)), color-stop(100%, rgba(97,72,14,1)));
    background: -webkit-linear-gradient(top, rgba(251,192,45,1) 0%, rgba(97,72,14,1) 100%);
    background: -o-linear-gradient(top, rgba(251,192,45,1) 0%, rgba(97,72,14,1) 100%);
    background: -ms-linear-gradient(top, rgba(251,192,45,1) 0%, rgba(97,72,14,1) 100%);
    background: linear-gradient(to bottom, rgba(251,192,45,1) 0%, rgba(97,72,14,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbc02d', endColorstr='#61480e', GradientType=0 );

  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: jackInTheBox 3500ms linear infinite both;
    animation-delay: 0.5s;
  }
  @keyframes pulse {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  //animación
  @-webkit-keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes jackInTheBox {
    from {
      opacity: 0;
      -webkit-transform: scale(0.1) rotate(30deg);
      transform: scale(0.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom;
    }
  
    50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  
    70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  .jackInTheBox {
    -webkit-animation-name: jackInTheBox;
    animation-name: jackInTheBox;
  }